@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');

body,
html {
    font-family: Montserrat;
}

.navbar-brand {
    font-weight: bold;
}

.home-img img {
    width: 100%;
    height: 100%;
}

.custom-add-btn {
    position: fixed;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    right: 70px;
    bottom: 70px;
}

.plus {
    position: absolute;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-update-btn {
    position: fixed;
    right: 70px;
    bottom: 70px;
    padding: 10px 20px;
    border: none;
}

.update {
    font-weight: bolder;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
  }
  .dropdown-menu-arrow:before,
  .dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
  }
  .dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #fff;
  }
  .dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0,0,0,.15);
  }